@import "tailwindcss";

@theme {
  /* 폰트 설정 */
  font-family: {
    'custom': ['Pretendard-Regular', 'sans-serif'],
  };

  /* keyframes 설정 */
  @keyframes ping {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    75%, 100% { /* 예시 코드에 맞춰서 75%랑 100%를 합쳤어! */
        transform: scale(1.5); /* 75%에서 1.5로 바꾸고 100%도 유지 */
        opacity: 0;           /* 75%에서 0으로 바꾸고 100%도 유지 */
      }
  }

  /* animation 설정 */
  animation: {
    'custom-ping': 'ping 3s cubic-bezier(0, 0, 0.2, 1) infinite',
  };

}